* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Inicio Header */
.nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    background-color: #181818;

    .nav_list {
        display: flex;
        align-items: center;
        list-style: none;
        margin-right: 28px;

        a {
            color: #ddd;
            padding: 20px;
            text-decoration: none;
            transition: .3s ease-in-out;
        }

        a:hover {
            color: #fff;
        }
    }
}

/* Inicio main */
.main {
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    justify-content: center;
    background: #000 url('img/main.jpeg') top right / contain no-repeat;

    .title {
        h1 {
            display: flex;
            flex-direction: column;
            color: #fff;
            font-size: 54px;
        }

        p {
            font-size: 20px;
            font-style: italic;
            color: #1e96FC;
            margin-top: 10px;
            margin-bottom: 35px;
        }
    }

    a {
        text-decoration: none;
        color: #181818;

        .btn {
            cursor: pointer;
            border: 0;
            padding: 14px;
            border-radius: 4px;
            font-size: 18px;
            font-weight: 700;
            background-color: #fff;
            transition: .5s ease-in-out;
        }

        .btn:hover {
            transform: scale(1.1);
        }
    }
}

/* Inicio sobre */
.about {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 10%;
    background-color: #fff;

    div {
        max-width: 50%;
        padding-right: 40px;

        h2 {
            font-size: 32px;
            margin-bottom: 1rem;
        }
    }

    img {
        max-width: 500px;
        border-radius: 10px;
    }
    
}