@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --link: #0095f6;
    --background: #fafafa;
}

a {
    color: var(--link);
    text-decoration: none;
}

body {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    background-color: var(--background);
}

p {
    color: #00376b;
}

#wrapper {
    height: 100vh;

    #container {
        margin: 0 auto;
        min-height: 100%;
        width: 800px;
        display: flex;
        align-items: center;
    }

    /* Página Cadastro */

    #container_signup {
        margin: 0 auto;
        min-height: 100%;
        max-width: 400px;
        display: flex;
        align-items: center;

        #message {
            margin: 10px 70px;

            span {
                font-size: 17px;
                font-weight: bold;
                text-align: center;
                line-height: 20px;
                color: #8e8e8e;
            }
        }

        #cta_button {
            width: 250px;
            margin: 10px 0;
            height: 35px;
            border: 0;
            font-size: 15px;
            font-weight: bold;
            border-radius: 4px;
            color: #fff;
            background-color: #0095f6;
            cursor: pointer;
        }
    }

    .column {
        flex-grow: 1;
        width: 50%;
    }

    .left {
        height: 800px;
        width: 500px;
        margin-bottom: 50px;
        background: url(img/img-main.png) center / 450px no-repeat;
    }

    .right {
        padding-left: 20px;

        .login {
            background-color: #fff;
            border: 1px solid #e6e6e6;
            text-align: center;
            padding: 3rem 0;

            .logo {
                .logoImg {
                    width: 175px;
                }
            }

            form {
                display: flex;
                flex-direction: column;
                align-items: center;

                input[type="text"],
                input[type="password"] {
                    width: 250px;
                    height: 40px;

                    margin-top: 1rem;
                    padding: 10px;
                    font-size: 13px;
                    color: #000;
                    border-radius: 4px;
                    background-color: #fafafa;
                    border: 1px solid #e6e6e6;
                }

                input::placeholder {
                    color: rgb(165, 164, 164);
                }

                input:focus {
                    outline: 0;
                    border: 1px solid #a1a1a1;
                }

                input[type="submit"] {
                    width: 250px;
                    margin-top: 10px;
                    height: 30px;
                    border: 0;
                    border-radius: 8px;
                    color: #fff;
                    font-size: 14px;
                    font-weight: 700;
                    background-color: #4cb5f9;
                }
            }

            .or {
                margin: 1rem 45px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: #737373;
                font-size: 12px;
                font-weight: 600;

                .line {
                    width: 100px;
                    border-top: 1px solid #dbdbdb;
                }
            }

            .entrar {
                display: flex;
                flex-direction: column;
                align-items: center;

                div {
                    margin-bottom: 1rem;
                    display: flex;
                    align-items: center;

                    svg {
                        margin-right: 10px;
                    }

                    p {
                        color: #0095f6;
                        font-weight: 600;
                        font-size: 14px;
                        transition: .3s ease-in-out;
                        cursor: pointer;
                    }

                    p:hover {
                        color: #057cca;
                    }
                }
            }
        }

        .infoBox {
            height: 60px;
            margin: 10px;
            margin: 10px auto 0;
            border: 1px solid #e6e6e6;
            background-color: #fff;

            display: flex;
            justify-content: center;
            align-items: center;

            a {
                font-weight: 600;
            }
        }

        .apps {
            margin: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                margin-bottom: 1rem;
            }

            .stores {
                display: flex;
                cursor: pointer;
            }
        }
    }
}

footer {
    height: 50px;
    text-align: center;

    a {
        color: #000;
        font-weight: bold;
        margin-right: 8px;
        text-transform: uppercase;
    }

    #text_small {
        font-size: 12px;
        font-weight: bold;
        color: gray;
        text-transform: uppercase;
        padding-left: 20px;
        display: inline-block;
    }
}