@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

:root {
    --white: #fff;
    --black: #000;
    --button: #0056FB;
    --blue: #0056FB;
}

body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
}

main {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#login {
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mycont {
    position: relative;
    width: 60%;
    display: flex;
    flex-direction: column;
    z-index: 0;
}

h1 {
    width: 100%;
    max-width: 560px;
    font-size: 32px;
    margin-bottom: 1rem;
}

form {
    width: 100%;
    max-width: 560px;
    display: flex;
    flex-direction: column;
}


input {
    min-width: 100%;
    height: 42px;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid var(--black);
    margin-bottom: 1rem;
}

input::placeholder {
    color: var(--black);
    font-family: "Roboto", serif;
}

input:focus {
    outline: none;
}

button {
    width: 100%;
    max-width: 560px;
    height: 42px;
    border: 0;
    border-radius: 4px;
    padding: 0.8rem;
    
    
    letter-spacing: 1px;
    font-weight: 500;
    color: var(--white);
    font-family: "Roboto", serif;
    margin-bottom: 1rem;

    cursor: pointer;
    background-color: var(--button);
    transition: .5s linear;
}

button:hover {
    background-color: var(--blue);
}

.area {
    width: 100%;
    max-width: 560px;
    font-weight: 700;
}

.area a {
    font-weight: 400;
    text-decoration: none;
    color: var(--black);
}

#register {
    width: 100%;
    text-align: left;
}

#code {
    position: absolute;
    bottom: 3%;
    right: -13%;
    z-index: -1;
}

#additional {
    width: 50%;
    height: 100vh;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
}

#content_img {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info_img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-bottom: 1rem;
}

#content_add {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    max-width: 400px;
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--white);
    margin-bottom: 1rem;
}

#text_add {
    width: 400px;
    line-height: 150%;
    font-weight: 300;
    color: var(--white);
}

@media (max-width: 1000px) {
    main {
        flex-direction: column;
        height: 100vh;
    }

    #login {
        width: 100%;
        height: 50%;
        padding: 24px 0; 
    }

    #mycont {
        width: 100%;
        padding: 0 24px;
    }

    #additional {
        padding: 32px 0;
        width: 100%;
        height: 50%;
    }

    h2 {
        font-size: 30px;
    }

}

